.TopBar {
  display: flex;
  align-items: center;
  border-bottom-color: #e5e7eb;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  padding-bottom: 0.5em;
}

.LogoLink {
  @media (max-width: 20rem) {
    flex: 2;
    margin-left: 0.5em;
  }
  @media (max-width: 26rem) {
    margin-left: 1.0em;
  }
  margin-left: 1.5em;
  flex: 1;
}

.TopBarMenu {
  @media (max-width: 40rem) {
    display: none;
  }
  @media (min-width: 26rem) and (max-width: 53rem) {
    flex: 5;
  }
  flex: 9;
  margin: 1em;
}

.TopBarMenuWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.MenuButtonWrapper {

  & > button {
    margin-left: auto;
  }
  justify-content: flex-end;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 1em;
}

.link {
  margin: 1em;
}
