$primary-theme: greenyellow;
$shadow-color: black;
.LocaleSelection {
  display: flex;
  align-items: center;
  height: max-content;
  &:hover {
    border-color: $primary-theme;
    outline: $primary-theme solid;
    transition-duration: 150ms;
  }

  svg {
    fill: $primary-theme;
  }

  border: 0.01em solid $shadow-color;
  @media (max-width: 46rem) {
    padding: 0.2em;
  }
  padding: 0.4em;
  border-radius: 0.5em;

  .CurrentLocale {
    @media (max-width: 46rem) {
      padding: 0.1em;
    }
    padding-right: 0.5em;
  }

  .SupportedLocales {
    display: none;
  }
}



