@media (max-width: 20rem) {
  $grid-columns: 6;
}

$grid-columns: 12;
$primary-theme: #27A9FF;
$primary-color: white;

@mixin flexAndCenter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.IndexPage {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  & > * {
    grid-column: 1 / span $grid-columns;
  }
}