.App {
  margin: 4pc;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border-width: 1px;
}
label {
  display: block;
}

.NavbarTitle {
  display: inline-block;
  border-width: 1px;
}

.rowCell {
  flex: 1 1 auto;
}

.NavbarImage {
}

.FarmTitleBanner {
  border-width: 3px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.FarmTitleBannerName {
  margin-block-end: 1%;
  text-align: left;
}

.AppBanner {
  border-width: 3px;
  margin-top: 2%;
  margin-bottom: 1%;
  font-weight: bold;
  text-align: center;
}